%h3= %{"#{@user.lp_track}" is found on #{pluralize(@search.results.size, 'release')}:}

%dl
  - @search.releases.each do |r|
    - if r.image_count > 0
      %dt
        /%a{:href => "http://www.discogs.com/viewimages?release=#{r.id}"}= r.title
        %a(href="/release/#{r.discogs_id}" target="_blank")= r.title
        = %{(#{r.format})}
        has
        = pluralize(r.image_count, 'image')
      %dd
        %strong Genres:
        = r.genres.map { |g| g.content }.join(', ')
        %br
        %strong Styles:
        = r.styles.map { |s| s.content }.join(', ')

%p
  %a{:href => @search.uri.gsub(/&f=xml.+/, ''), :target => '_blank'} View Results on Discogs
