- @search.results.each do |r|
  %dt
    /%a{:href => "http://www.discogs.com/viewimages?release=#{r.id}"}= r.title
    %a(href="/release/#{r.id}")= r.title
    = %{(#{r.format})}
    has
    = pluralize(r.image_count, 'image')
  %dd
    %strong Genres:
    = r.genres.map { |g| g.content }.join(', ')
    %br
    %strong Styles:
    = r.styles.map { |s| s.content }.join(', ')
