You are watching: #{@user}
%h1
  - if @tracks.now_playing?
    Now Playing:
  - else
    Inactive

  = @tracks.last_played_artist
  \-
  = @tracks.last_played_track

- @tracks.last_played.xpath('image').each do |img|
  - if img['size'] == 'extralarge'
    - unless img.content == ''
      %img{:src => img.content}
    - else
      No artwork found.

%h2= %{Tags for "#{@tracks.last_played_artist}"}
%code=@tracks.tags.xpath('//tag/name').map { |t| t.content }.join(', ')

%p
  %a{:href => '#', :onclick => '$("#debug").toggle()'} debug
#debug{:style => 'display:none'}
  %textarea(style="width:100%; height:200px")= @tracks
  %textarea(style="width:100%; height:200px")= @tracks.tags
