You are watching:
= %{<a href="http://last.fm/user/#{@user}">#{@user}</a>}
= "(#{@tracks.status})"

%h1
  - if @tracks.now_playing?
    Now Playing:
  - else
    Last Track Played:

%h2
  = @tracks.last_played_artist
  \-
  = @tracks.last_played_track

- @tracks.images.each do |img|
  - if img['size'] == 'extralarge'
    - unless img.content == ''
      %img{:src => img.content}

      %p
        %small
          Album artwork from
          %a(href="http://last.fm") last.fm
    - else
      No artwork found.

%h3
  %a{:onclick => '$("#tags").toggle()'}
    = %{Tags for "#{@tracks.last_played_artist}"}

#tags
  %code=@tracks.tags.map { |t| %{<a href="http://www.last.fm/tag/#{t.content}">#{t.content}</a>}}.join(', ')

%p
  %a{:href => '#', :onclick => '$("#debug").toggle()'} debug
#debug{:style => 'display:none'}
  %textarea(style="width:100%; height:200px")= @tracks.tracks
  %textarea(style="width:100%; height:200px")= @tracks.tags
