#now-playing
  %h2
    = %{<a href="http://last.fm/user/#{@user}">#{@user}</a>}
    - if @user.now_playing?
      is Now Playing:
    - else
      Recently Listened to:

%h3
  %a{:href => "http://last.fm/music/#{@user.lp_artist}/_/#{@user.lp_track}"}
    = @user.lp_track
  by
  %a{:href => "http://last.fm/music/#{@user.lp_artist}"}
    = @user.lp_artist

- @user.images.each do |img|
  - if img['size'] == 'extralarge'
    - unless img.content == ''
      %img{:src => img.content}

      %p
        %small
          Album artwork from
          %a(href="http://last.fm") Last.fm
    - else
      %h3 No artwork found on Last.fm

%h3
  Tags for
  = @lp_artist
#lastfm-tags= @lp_artist.top_tags.map { |t| tag_link(t)}.join(' ')
%small
  Tags provided by
  %a(href="http://last.fm") Last.fm

#discogs-releases
  %h3= %{"#{@user.lp_track}" Appears on:}
  %dl
    - @search.results.each do |r|
      %dt
        %a{:href => "http://www.discogs.com/viewimages?release=#{r.id}"}= r.title
        = %{(#{r.format})}
        has
        = pluralize(r.image_count, 'image')
      %dd
        %strong Genres:
        = r.genres.map { |g| g.content }.join(', ')
        %br
        %strong Styles:
        = r.styles.map { |s| s.content }.join(', ')

-#%p
  -#%a{:href => '#', :onclick => '$("#debug").toggle()'} debug
-##debug{:style => 'display:none'}
  -#%textarea(style="width:100%; height:200px")= @tracks.tracks
  -#%textarea(style="width:100%; height:200px")= @tracks.tags
