#lastfm
  #badge
    %img{:src => 'lastfm.png'}

  %h3
    %a{:href => "http://last.fm/music/#{@user.lp_artist}/_/#{@user.lp_track}"}
      %span#track= @user.lp_track
    by
    %a{:href => "http://last.fm/music/#{@user.lp_artist}"}
      %span#artist= @user.lp_artist

  - @user.images.each do |img|
    - if img['size'] == 'extralarge'
      - if img.content == ''
        %img{:src => 'no-artwork.jpg'}
      - else
        #artwork
          %img{:src => img.content}

  #tags= @lp_artist.top_tags.map { |t| tag_link(t.content)}.join(' ')

#discogs
  #badge
    %img{:src => 'discogs.png'}

  %h3= %{"#{@user.lp_track}" Appears on:}
  %dl
    %dt Loading Discogs data...
